pyinaturalist==0.19.0
arcgis==2.4.1
func_timeout==4.3.5
pytz==2025.2
python-dateutil==2.9.0.post0
tenacity==9.1.2

git+https://github.com/behave/behave@v1.2.7.dev6
behave_html_formatter==0.9.10
pyhamcrest==2.0.4
factory_boy==3.3.0

flake8==7.3.0
